@import "tailwindcss";

.input {
  @apply w-full border p-2 mb-3 rounded;
}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.01em;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.02em;
}
.glass {
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.glass-dark {
  background: rgba(255, 20, 60, 0.25);
  backdrop-filter: blur(20px);
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 rgba(255, 20, 147, 0.4);
  }

  50% {
    box-shadow: 0 0 25px rgba(255, 20, 147, 0.8);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 20, 147, 0.4);
  }
}

.offer-glow {
  animation: pulseGlow 2s infinite;
}